*{
    padding: 0px;
    margin: 0px;
}
body{
    background-color: white;
    /* background: linear-gradient(to bottom, #FF9E68, #FF68DE); */
}
.s-fixed{
    z-index:100;
    position:fixed;
    width:100%;
}
section{
    margin-bottom: 3rem;
}
h1{
    color: #C668FF
}

/*  ---Navbar section---    */
.navbar-section{
    /* background-color: #fc6077; */
    /* background-color: #a481f7; */
    background: linear-gradient(to bottom, #FF9E68, #FF68DE);
}
.navbar{
    height: 60px;
    width: 100%;
}
.logo-nav{
    height: 50px;
    width: 50px;
    border-radius: 90%;
}
.n-left{
    margin-left:2.5rem;
    
}
.niv{
    margin-right: 1.5rem;
    font-weight: 800;
}
#adorno-btn,#sabor-btn,#contacto-btn,#pedido-btn{
    color: white;
}
.s-cross-center {
    -moz-box-align: center;
    align-items: center;
    align-content: center;
    display: flex;
    flex-wrap: wrap;
}

.sabor-btn{
    border: 0px solid;
    border-radius: 5px;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    text-decoration: none;
}

/*  ---Presentacion section---    */

.presentacion-section{
    margin-top: -3rem;
    text-align: center;
    
}
.pre-h1{
    font-size: 30px;
    color: #6889FF;
}
.logo{
    height: 230px;
    width: 224px;
}



/*  ---Menu section---    */
.menu-div{
    /* margin-bottom: 3rem; */
    height: 440px;
    width: 100%;
}

.menu-tabla{
    
    padding: 0rem 3rem;
    margin: 0rem 4rem 2rem 5rem;
}

#sabores-div{
    float: left;
}

#adornos-div{
    float: right;
}
.pastel-image{
    height: 400px;
    width: 800px;
    margin-left: 20%;
}
.carousel-control-next-icon,.carousel-control-prev-icon{
    background-color: #FF68DE;
    border-radius: 100%;
}
/*  ---Pedido section---    */

.h1-section{
    text-align: center;
}
table{
    margin-top: 2rem;
    border: 2px solid #a481f7;;
    color:rgba(70, 73, 75, 0.836);
    background-color: white;
}
thead{
    text-align: center;
}
tr{
    border: 1px solid black;
}
th,td{
    
    border: 1px solid;
    padding: 1rem 1.5rem;
    border-color:rgba(70, 73, 75, 0.623);
}
td{
    text-align: left;
}
#pedido-section{
    height: 500px;
    width: 100%;
}

.pedidos-form{
    margin: 2rem 3rem 2rem 1rem;
    border: 2px solid #a481f7;
    width: 350px;
    height: 460px;
    padding: 1rem;
}

#cliente-div{
    float: left;
    margin-left: 5rem;
}
#sabores-div{
    float: center;
}

#adornos-div{
    float: right;
}

.pedido-h2{
    font-size: 24px;
    text-align: center;
    color: #FF7C60;
    margin-bottom: 2.5rem;
}
.check{
    margin: 0.5rem 1.5rem 1rem 1rem;

}
.check-label{
    font-size: 17px;
}

.pdiv{
    margin-bottom: 2rem;
}

.inter-pdiv{
    margin-bottom: 1rem;
}
.datos-input{
    margin: 0.5rem 0rem 1rem;
}

.pedido-h3{
    font-size: 18px;
    color: rgb(46, 46, 46);
    margin-top: 3rem;
}

.pedidos-input{
    width: 90%;
}

#btn-pedido{
    width: 30%;
    margin-left: 35%;
    margin-bottom: 2rem;
    /* background: linear-gradient(to bottom right, #6889FF, #C668FF); */
    background-color: #6889FF;
    border-color: #6889FF;
    /* border: linear-gradient(to bottom right, #6889FF, #C668FF); */
}

/*  ---Contacto section---    */
#contacto-section{
    margin-top: 11rem;
}
.contacto-h2{
    margin-top: 3rem;
    margin-left: 0.7rem;
    font-size: 25px;
    color: #FF7C60;
}
.contacto-h3{
    margin-top: 1rem;
    margin-left: 2.2rem;
    font-size: 20px;
    color: rgb(80, 80, 80);
}
/*  ---Footer section---    */
.social-icon{
    margin: 40px 10px;
}

.footer-section{
    padding: 2% 15%;
    text-align: center;
}

.white-section{
    background-color:#fff;
    color: #000;
}